# --- Virtual Environments ---
venv/
env/
.venv/

# --- Environment Variables (CRITICAL) ---
.env
.env.local

# --- Python & System ---
__pycache__/
*.py[cod]
*$py.class
.DS_Store
Thumbs.db

# --- Data Management (Don't upload datasets) ---
# Veri setlerini kodla indiriyoruz, repoda tutmaya gerek yok
data/raw/
data/raw_download/
data/dataset_synthetic/
data/dataset_local/
data/ready_dataset/
*.zip
Slides\speech

# this is me
# --- VİDEOLAR ---
experiments\videos\output_webcam.avi 

# --- EĞİTİM ÇIKTILARI (Models) ---
# YOLO eğitim logları ve ağırlıkları
runs/
*.pt
*.onnx
models/weights/*

# --- IDE Settings ---
.vscode/
.idea/
*.swp
.ipynb_checkpoints/

# --- JUPYTER ---
.ipynb_checkpoints/